<section class = 'container'>
    <div class = 'mb-5'>
        <h1>Tarea: <%= @task.name%></h1>
    </div>
    <div class = 'row'>
        <div class = 'col-md-6'>
            <h2>Ultimos 5 usuarios en terminarla</h2>
            <div class = 'row'>
                <% @ultimos.each do |ultimo| %>
                    <% if ultimo.finish == true %>
                        <div class="col-md-6 p-5">
                            <div class="card" style="width: 13rem;">
                                <%= image_tag ultimo.user.photo, class: 'car-img-top'%>
                                <div class="card-body">
                                    <h5 class="card-title"><%= ultimo.user.name %></h5>
                                    <p class="card-text"><%= ultimo.user.email %></p>
                                </div>
                            </div>
                        </div>
                    <%end%>
                <%end%>
            </div>
        </div>
        <div class = 'col-md-6'>
            <h2>Usuarios que han completado la tarea</h2>
            <ul>
                <% @usuarios.each do |usuario| %>
                    <% if usuario.finish == true %>
                        <li>
                            <%= usuario.user.name %>
                        </li>
                    <%end%>
                <%end%>
            </ul>
        </div>
    </div>
</section>